doc/api/creole.dtd


<!--
DTD for Wiki Creole document tree as generated by the creole/c parser.

Version 1.1, 27 Apr 2010

Copyright (c) 2010 Klaus Drescher

This file may be used under the terms of the GNU Lesser General Public
License version 2.1 as published by the Free Software Foundation and
appearing in the file LICENSE.LGPL included in the packaging of this file.
Please review the following information to ensure the GNU Lesser General
Public License version 2.1 requirements will be met:
http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html.
-->

<!-- the root element -->
<!ELEMENT body (p|h1|h2|h3|h4|h5|h6|pre|blockquote|hr|table|ul|ol|dl)* >

<!-- inline text content -->
<!ENTITY % TEXT "(#PCDATA|a|img|b|i|tt|sup|sub|u|verb|br)*" >

<!-- block level elements ------------------------------------------------ -->

<!-- a paragraph -->
<!ELEMENT p %TEXT; >

<!-- headings level 1-6 -->
<!ELEMENT h1 %TEXT; >
<!ELEMENT h2 %TEXT; >
<!ELEMENT h3 %TEXT; >
<!ELEMENT h4 %TEXT; >
<!ELEMENT h5 %TEXT; >
<!ELEMENT h6 %TEXT; >

<!-- nonwiki text block -->
<!ELEMENT pre (#PCDATA) >

<!-- an indented paragraph, may nest -->
<!ELEMENT blockquote (blockquote|%TEXT;) >
<!-- indented paragraphs with leading '>' have class attribute 'citation' -->
<!ATTLIST blockquote class CDATA #IMPLIED >

<!-- a horizontal rule -->
<!ELEMENT hr (EMPTY) >

<!-- a table -->
<!ELEMENT table tr+ >
<!-- a table row -->
<!ELEMENT tr (th|td)+ >
<!-- a table heading cell -->
<!ELEMENT th %TEXT; >
<!-- a table cell -->
<!ELEMENT td %TEXT; >

<!-- a bullet list -->
<!ELEMENT ul (ul|ol|li)+ >
<!-- a numbered list -->
<!ELEMENT ol (ul|ol|li)+ >
<!-- a list item -->
<!ELEMENT li %TEXT; >

<!-- a definition list -->
<!ELEMENT dl (dt,dd)+ >
<!-- a definition term -->
<!ELEMENT dt %TEXT; >
<!-- a definition definition -->
<!ELEMENT dd %TEXT; >

<!-- inline text elements ------------------------------------------------ -->

<!-- a link, content will not contain another link -->
<!ELEMENT a %TEXT; >
<!-- the links URL -->
<!ATTLIST a href CDATA #REQUIRED >

<!-- an image -->
<!ELEMENT img (EMPTY) >
<!-- the images URL -->
<!ATTLIST img src CDATA #REQUIRED >
<!-- the images alternate text -->
<!ATTLIST img alt CDATA #IMPLIED >
<!-- the images width, given as pixels or percentage,
     e.g. "350" (pixels) or "50%" (percentage) -->
<!ATTLIST img width CDATA #IMPLIED >
<!-- the images height, given as pixels or percentage -->
<!ATTLIST img height CDATA #IMPLIED >

<!-- bold text -->
<!ELEMENT b %TEXT; >
<!-- italic text -->
<!ELEMENT i %TEXT; >
<!-- monospace text -->
<!ELEMENT tt %TEXT; >
<!-- subscripted text -->
<!ELEMENT sub %TEXT; >
<!-- superscripted text -->
<!ELEMENT sup %TEXT; >
<!-- underlined text -->
<!ELEMENT u %TEXT; >
<!-- nonwiki inline text -->
<!ELEMENT verb (#PCDATA) >

<!-- a line break -->
<!ELEMENT br (EMPTY) >

<!-- the end ------------------------------------------------------------- -->

